/*
Selectores Basicos

elemento {
    propiedad y valor;
}
.clase {
    propiedad: valor;
}

#id {

}

*/

/* el id es mas importante que una clase y clase mas importante que una etiqueta*/
h2 {
    color: red;
}

.azul {
    color: blue;
}
#h1_id {
    font-size: 100px;
    background: yellow;
}

.h1_class {
    font-size: 200px;
}

.parrafo strong { /*selcciono un strong que esta adentro de una etiquetap*/
    text-transform: uppercase;
}

.contenedor > h4 { /*descendiente directo de contenedor que tiene la etiqueta h4*/
    text-decoration: underline;

}

h2.azul{ /*selecciona el elemento que tiene ambos selectores */
    color: purple;

}
h2.azul#l2 {
    color: yellow;
}

input[type="text"]{
    width: 350px;
}

input[type="number"]{
    height: 50px;
}

input, textarea{  /*la coma se utiliza  como y, para indicar que mas de un selector y una textarea por ejemplo tengan un formato*/
    border: 3px solid magenta;
}

/*COLOR*/
.color{
    color: brown(85, 11, 11); /*#ff0000, rgb (255, 0, 0), red*/
    background-color: lightgray ;
}

/*TEXTO*/
.texto{
    text-align: center; /*left, rigth, center, justify*/
    text-decoration: underline; /* underline, line-through, none overline*/
    font-style: italic; /*italic es estilo cursiva, normal*/
    font-weight:bold ; /*grosor de la letra o letra negrita , puede ser 100 200 bold, puedo utilizar google font para savar estilos de letras*/
    font-size: 30px; /*px, pt, em*/

}

/*TAMAÑO*/
.tamano {
    background-color: gray;
    width: 400px;
    height: 50px;

}
/*BACKGROUND*/
.background {
    width: 400px;
    height: 600px;
    border: 1px solid black;

    background-color: aqua;
    background-image: url("../imagenes/gatito.jpg");
    background-repeat: contain; /* auto, cover->  Estira la imagen para que cubra todo el contenedor verticalmente, 100%-> estira la imagen para que cubra el contenedor horizontalmente*/
    background-repeat: no-repeat;
}

.img_gato{
    width: 100%;
}


/* el padding es el margen que esta dentro del contenedor, desde donde empieza el contenedor y nuestro contenido */
/* el espacio que hay entre el contenedor y los elementos es el marggin margen*/
/* el  border (borde) correspone a lo que tenemos de nuestro contenedor */

#box_model{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin: 10px auto;
    border: 2px solid black;
    padding: 25px;
}

.h2_inline{
    display: inline; /* esto nos permite desplegar los elementos en una sola linea*/
}

.block {
    display: block; /*empieza desde el principio de la pagina hata el final del ancho total de la pagina*/
}

.flag{
    width: 70px; /*IMPORTANTE!  es una forma de darle prioridad a una prioridad, pero NO es recomendado*/
    height: 150px ;
    display: inline-block; /*el inline no toma ancho y el alto, por eso se usa el inlineblock porque toma el widht y el height, pero deja espacios entre bloques*/
}

.black{
    background-color: black;
}

.yellow{
    background-color: yellow;
}

.red{
    background-color: red;
}

.div1{
    width: 250px;
    height: 150px;
    border: 1px solid black;
    background-color: plum;
    display: inline-block;
}
.div2{
    width: 250px;
    height: 300px;
    border: 1px solid black;
    background-color: lightseagreen;
    display: inline-block;
}

.div3{
    width: 250px;
    height: 80px;
    border: 1px solid black;
    background-color: lightcoral;
    display: inline-block;
}
.vertical_align{
    vertical-align: top; /*situa los bloques en la parte mas arriba, abajo o centro del contenedor padre*/
}